<%= form_for @trip do |f| %>
	<h3><%= f.label :city %></h3>
	<p><%= f.select :city_id, City.all.collect {|city| [city.name, city.id]} %></p>
  	<%= f.submit "Create A New Trip", class: "btn btn-success btn-md" %>
<% end %>